<div class="empty" *ngIf="basketSvc.empty">
    There are no items in the shopping cart.<br/>
    Please, add some and return back here.
</div>

<div class="has-items" *ngIf="!basketSvc.empty">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of basketSvc.items; let row=index">
                <td>{{row + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price | currency:'GBP': 'symbol'}}</td>
                <td>{{item.count}}</td>
                <td>{{item.total | currency:'GBP': 'symbol'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total:</th>
                <th>{{basketSvc.total | currency:'GBP': 'symbol'}}</th>
            </tr>
        </tfoot>
    </table>
    <div>
        <button (click)="basketSvc.clear()"> Clear Shopping Cart</button>
    </div>
</div>

