<div class="modal" #modal [ngClass]="{active: isOpen}">
    <div class="modal-container">
        <div class="modal-body">
            <h1>{{title | uppercase}}</h1>
            <ng-content></ng-content>
        </div>
        <div class="modal-footer">
            <button (click)="close(modal)" class="btn btn-primary"> OK </button>
        </div>
    </div>
</div>


