<h1>Angular Forms Support Demo</h1>

<fieldset>
    <legend>Template-Oriented Form</legend>
    <template-oriented-form [init]="user" (submitted)="onSubmit($event)"></template-oriented-form>
</fieldset>

<fieldset>
    <legend>Component-Oriented Form</legend>
    <component-oriented-form [init]="user" (submitted)="onSubmit($event)"></component-oriented-form>
</fieldset>

<fieldset>
    <legend>User</legend>
    <pre>{{ user | json }}</pre>
</fieldset>
