<section>
    <header>
        <h1>Silly ng Shopping Store</h1>
    </header>
    <nav>
        <navbar></navbar>
        <basket-widget></basket-widget>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        &copy; {{year}} WhatEver Software Ltd. All rights reversed.
    </footer>
</section>
