<h1>Template-Oriented Form Demo</h1>

<form novalidate name="form" #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      [equals]="['email', 'email2']">
  <table>
    <tr>
      <th>Name</th>
      <td>
        <input type="text" name="name" [(ngModel)]="profile.name" #name="ngModel"
               required minlength="3" maxlength="10"
               placeholder="Your first and last names">
      </td>
      <td>
        <ul *ngIf="name.dirty && name.invalid">
          <li *ngIf="name.errors.required">Must provide a value</li>
          <li *ngIf="name.errors.minlength">At least 3 characters</li>
          <li *ngIf="name.errors.maxlength">At most 10 characters</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>Age</th>
      <td><input type="number" name="age" [(ngModel)]="profile.age" #age="ngModel"
               required [multipleOf]="4" min="1" max="100" step="1" placeholder="Your age">
      </td>
      <td>
        <ul *ngIf="age.dirty && age.invalid">
          <li *ngIf="age.errors.required"  > Must provide a positive numeric value </li>
          <li *ngIf="age.errors.multipleOf"> Must be a multiple of 4 </li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>Email</th>
      <td>
        <input type="email" name="email" [(ngModel)]="profile.email" #email="ngModel"
               required email minlength="5" placeholder="Your email address" />
      </td>
      <td>
        <ul *ngIf="email.dirty && email.invalid">
          <li *ngIf="email.errors.required" > Must provide a value </li>
          <li *ngIf="email.errors.email"    > Must contain a @ sign </li>
          <li *ngIf="email.errors.minlength"> Must have at least 5 chars </li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>Email Repeat</th>
      <td>
        <input type="email" name="email2" [(ngModel)]="profile.email2" #email2="ngModel"
               required placeholder="Your email address, repeated">
      </td>
      <td>
        <ul *ngIf="email2.dirty && email2.invalid">
          <li *ngIf="email2.errors.required"> Must provide a value</li>
          <li *ngIf="email2.errors.equals"  > Must be equal with 1st email</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <button type="submit" [disabled]="f.form.invalid">SAVE</button>
      </td>
    </tr>
  </table>
</form>

<hr/>
<p>Form: {{f.form.status}}</p>
<pre>{{profile | json}}</pre>
