<h1>Demo of Logger Service</h1>
<p>Check your JS browser console</p>
<div>
    <input type="search" #txt placeholder="Logger message">
</div>
<div>
    <button (click)="msg(txt.value)">Log Now</button>
</div>

<h1>Demo of User Service</h1>
<pre>
    {{ user | json}}
</pre>

