/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #aaa;
    font-family: sans-serif;
}

