nav {
    background-color: #bbb;
    color: white;
}

.current-page {
    background-color: darkorange;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    display: inline-block;
    padding: 0;
}

li + li {
    margin-left: 1em;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: .4em .5em;
}

a:hover {
    background-color: #888;
}
