<nav>
    <ul>
        <li *ngFor="let nav of navbar">
            <a [routerLink]="nav.uri"
               [routerLinkActive]="'current-page'">
                {{nav.text}}
            </a>
        </li>
    </ul>
</nav>
