section {
    width: 10em;
    border: thin solid #555;
    padding: 1em;
}

section h2 {
    margin-top: 0;
}

section p {
    text-align: center;
    font-size: 3rem;
}

button + button {
    margin-left: .5em;
}

.start {
    background-color: green;
}

.stop {
    background-color: red;
}

.clear {
    background-color: dodgerblue;
}

section button {
    border: none;
    color: white;
    padding: .5em;
}

button:disabled {
    background-color: darkgray;
}
