<h1> Null-Catch Demo</h1>
<fieldset>
    <legend>User</legend>
    Name: {{user?.name?.first}} {{user?.name?.last}}
    <br>
    <button (click)="toggle()">
        Toggle User
    </button>
</fieldset>


<h1> Stop-Watch </h1>

<section>
    <h2>ng stop-watch</h2>
    <p>{{value}}</p>
    <div>
        <button (click)="start()" [disabled]="timer" class="start">
            Start
        </button>
        <button (click)="stop()" [disabled]="!timer" class="stop">
            Stop
        </button>
        <button (click)="clear()" class="clear">
            Clear
        </button>
    </div>
</section>
