<ng-container *ngIf="(product$ | async) as p">
    <article>
        <img [src]="p.image" alt="logo">
        <kbd>ID:{{p.id}}</kbd>
        <kbd>Name:{{p.name}}</kbd>
        <kbd>Price:{{p.price}}</kbd>
    </article>
</ng-container>
