<form #form="ngForm">
    <label>
        <span>Name</span>
        <input type="text"
               [name]="'name'"
               [(ngModel)]="formData.name"
               #nameCtrl="ngModel"
               required
               [minlength]="5"
               [maxlength]="20">
        <code>{{nameCtrl.errors | json}}</code>
    </label>
    <label>
        <span>Age</span>
        <input type="number"
               [name]="'age'"
               [(ngModel)]="formData.age"
               #ageCtrl="ngModel"
               required
               [min]="20"
               [max]="80">
        <code>{{ageCtrl.errors | json}}</code>
    </label>
    <label><span></span>
        <button type="submit"
                [disabled]="form.invalid"
                (click)="emitSubmit()">
            Register
        </button>
    </label>
</form>
