<h1>Products</h1>
<button (click)="sort()" >
  SORT
</button>

<table class="price-table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="right">Price</th>
      <th class="right">Price (SWE)</th>
      <th class="right">Count</th>
      <th class="center">Service</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of products ">
      <td>{{ p.name | slice:0:5 }}</td>
      <td class="right">{{ p.price | currency:'GBP':'symbol':'1.0-0' }}</td>
      <td class="right">{{ p.price | kr:false }}</td>
      <td class="right">{{ p.count | number:'1.0-0' }}</td>
      <td class="center">{{ p.service ? '✔' : '❌' }}</td>
      <td>{{ p.updated | date:'yyyy-MM-dd' }}</td>
    </tr>
  </tbody>
</table>

