header {
    background-color: deepskyblue;
    color: white;
    padding: 1em;
}

main {
    padding: 0 1em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background-color: #555;
    color: #ddd;
    text-align: center;
}
