<fieldset>
    <legend>Login</legend>
    
    <p *ngIf="message" class="error">
        {{message}}
    </p>

    <form #loginForm="ngForm">
        <label>
            <span>Username</span>
            <input type="text" name="username" [(ngModel)]="login.username" required>
        </label>

        <label>
            <span>Password</span>
            <input type="password" name="password" [(ngModel)]="login.password" required>
        </label>
        
        <p>
            <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">
                Login
            </button>
        </p>
    </form>
</fieldset>