.error {
    color: red;
    font-style: italic;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 1em;
}

label span {
    font-variant: small-caps;
    font-size: .95rem;
}

label input {
    display: block;
    width: 95%;
    border-radius: .25em;
    font-size: 1.25rem;
}

button {
    font-size: 1.25rem;
    padding: .25em 1em;
}


