<form [formGroup]="productForm">
  <div class="field">
    <label>Product Name</label>
    <input type="text" [formControl]="nameCtrl" />
    <pre>Value: {{nameCtrl.value | json}}</pre>
  </div>

  <div class="field">
    <label>Product Price</label>
    <!-- <input type="number" [formControl]="priceCtrl" [min]="0"/> -->
    <input type="number" [formControlName]="'price'" [min]="0" />
    <pre>Value: {{priceCtrl.value | json}}</pre>
  </div>
  <hr />
  <button (click)="updateProductName()">Update Name</button>
  <button (click)="updateProductPrice()">Update Price</button>
  <button (click)="onSubmit()">Submit Form</button>
</form>
<hr />
<pre>{{productForm.value | json}}</pre>
