<h1>Template and Container Demo</h1>

<ng-template #field let-label="title" let-name="field" let-hint="help">
    <div class="field">
        <label [for]="name">{{label}}</label>
        <input type="text" [id]="name" [name]="name" [placeholder]="hint" />
    </div>
</ng-template>

<ng-container *ngTemplateOutlet="field; context: p1" ></ng-container>
<ng-container *ngTemplateOutlet="field; context: p2" ></ng-container>
<ng-container *ngTemplateOutlet="field; context: p3" ></ng-container>


