<h1>Dates Demo</h1>

<label>
    <span>Base Date</span>
    <input type="date"
           [ngModel]="toHtmlDate(baseDate)"
           (ngModelChange)="fromHtmlDate($event)"
    >
</label>

<label>
    <span>Offset</span>
    <input type="range" [(ngModel)]="offset" [min]="1" [max]="42">
    [{{offset}}]
</label>

<label>
    <span>Next Date</span>
    <kbd>{{nextDate | date:'MMMM d, yyyy'}}</kbd>
</label>
