:host {
    font-family: sans-serif;
    font-size: 20px;
}

label {
    display: block;
}

label span {
    display: inline-block;
    padding: .5em;
    width: 6em;
    font-weight: bold;
    font-variant: small-caps;
}

